# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
-  List popular languages in Data Science
-  List commonly used libraries used by Data Scientists
-  Table of commonly used tools in Data Science
-  Some examples of arithematic expressions

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Seaborn

| Data Science Tools |
| -------|
|Excel   |
| RStudio|
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Abhay Godara